<div class="container">
  <div class="row">
    <div class="col p-5">
      <h1>
        <i class="fa-solid fa-pen"></i>
        Edit Contact Page
      </h1>

      <p style="text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, iure
        eos. Quos consequuntur reiciendis excepturi molestiae hic eos, illum
        consequatur praesentium neque distinctio nisi, incidunt nemo? Iusto
        nesciunt sed asperiores! Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Odit, iure eos. Quos consequuntur reiciendis excepturi
        molestiae hic eos, illum consequatur praesentium neque distinctio nisi,
        incidunt nemo? Iusto nesciunt sed asperiores! Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Odit, iure eos. Quos consequuntur
        reiciendis excepturi molestiae hic eos, illum consequatur praesentium
        neque distinctio nisi, incidunt nemo? Iusto nesciunt sed asperiores!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, iure
        eos. Quos consequuntur reiciendis excepturi molestiae hic eos, illum
        consequatur praesentium neque distinctio nisi, incidunt nemo? Iusto
        nesciunt sed asperiores!
      </p>
    </div>
  </div>
  <div class="container mb-5">
    <div class="row ps-4">
      <div class="col-md-6">
        <form>
          <div class="mb-2">
            <input
              type="text"
              placeholder="Name"
              class="form-control"
              [(ngModel)]="contact.name"
              name="name"
            />
          </div>
          <div class="mb-2">
            <input
              type="text"
              placeholder="Photo URL"
              class="form-control"
              [(ngModel)]="contact.photo"
              name="photo"
            />
          </div>
          <div class="mb-2">
            <input
              type="text"
              placeholder="Email ID"
              class="form-control"
              [(ngModel)]="contact.email"
              name="email"
            />
          </div>
          <div class="mb-2">
            <input
              type="text"
              placeholder="Mobile Number"
              class="form-control"
              [(ngModel)]="contact.mobile"
              name="mobile"
            />
          </div>
          <div class="mb-2">
            <input
              type="text"
              placeholder="Company"
              class="form-control"
              [(ngModel)]="contact.company"
              name="company"
            />
          </div>
          <div class="mb-2">
            <input
              type="text"
              placeholder="Title"
              class="form-control"
              [(ngModel)]="contact.title"
              name="title"
            />
          </div>
          <div class="mb-2">
            <select [(ngModel)]="contact.groupId" name="groupId"  class="form-control" id="">
           
              <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
            </select>
          </div>
          <div class="mb-2">
            <input
              type="button"
              placeholder="Title"
              class="btn btn-success"
              value="Update"
              (click)="updateContact()"
            />
            <a routerLink="/contacts/admin" class="btn btn-warning ms-2"
              >Close</a
            >
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <img
          [src]="contact.photo"
          alt=""
          class="contact-image m-2"
        />
      </div>
    </div>
  </div>
</div>
