<div class="container">
  <div class="row">
    <div class="col p-5">
      <h1>
        <i class="fa-solid fa-user-plus"></i>
        Add Contact Page
      </h1>

      <p style="text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, iure
        eos. Quos consequuntur reiciendis excepturi molestiae hic eos, illum
        consequatur praesentium neque distinctio nisi, incidunt nemo? Iusto
        nesciunt sed asperiores! Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Odit, iure eos. Quos consequuntur reiciendis excepturi
        molestiae hic eos, illum consequatur praesentium neque distinctio nisi,
        incidunt nemo? Iusto nesciunt sed asperiores! Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Odit, iure eos. Quos consequuntur
        reiciendis excepturi molestiae hic eos, illum consequatur praesentium
        neque distinctio nisi, incidunt nemo? Iusto nesciunt sed asperiores!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, iure
        eos. Quos consequuntur reiciendis excepturi molestiae hic eos, illum
        consequatur praesentium neque distinctio nisi, incidunt nemo? Iusto
        nesciunt sed asperiores!
      </p>
    </div>
  </div>
  <div class="container mb-5">
    <div class="row ps-4">
      <div class="col-md-6">
        <form>
          <div class="mb-2">
            <input
              name="contactName"
              [(ngModel)]="contact.name"
              type="text"
              placeholder="Name"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <input
              name="id"
              [(ngModel)]="contact.id"
              type="text"
              placeholder="Contact Id"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <input
              name="photo"
              [(ngModel)]="contact.photo"
              type="text"
              placeholder="Photo URL"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <input
              name="email"
              [(ngModel)]="contact.email"
              type="text"
              placeholder="Email ID"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <input
              name="mobile"
              [(ngModel)]="contact.mobile"
              type="text"
              placeholder="Mobile Number"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <input
              name="company"
              [(ngModel)]="contact.company"
              type="text"
              placeholder="Company"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <input
              name="title"
              [(ngModel)]="contact.title"
              type="text"
              placeholder="Title"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <select
              name="group"
              [(ngModel)]="contact.groupId"
              class="form-control"
              id=""
            >
              <option value="" selected hidden disabled>Select a group</option>
              <option value="{{ group.id }}" *ngFor="let group of allgroups">
                {{ group.name }}
              </option>
            </select>
          </div>
          <div class="mb-2">
            <input
              (click)="addContact()"
              type="button"
              placeholder="Title"
              class="btn btn-success"
              value="Create"
            />
            <a routerLink="/contacts/admin" class="btn btn-warning ms-2"
              >Close</a
            >
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <img
          [src]="contact.photo"
          alt=""
          class="contact-image m-2"
          height="150px"
        />
      </div>
    </div>
  </div>
</div>
